body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    letter-spacing: 0.02em;
    line-height: 1.5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
    display: flex;
    /* gap: 24px; */
    
}
h1, h2, h3, p {
	margin-top: 0;
	margin-bottom: 0;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
  }
  img {
    display: block;
  }
a {
    text-decoration: none;
}
.nav-container {
    display: flex;
    align-items: center;
}
.navigation {
    display: flex;
    align-items: center;
}
section {
    padding: 120px 0;
}
.content-header {
    border-bottom: 1px solid #e7e9fc;
}
/* .content-header .container {
    display: flex;
} */

.menu-navigator {
    padding: 24px 0;
    gap: 40px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

span {
    color: #2e2f42;;
}

.link {
    display: flex;
    gap: 40px;
    font-weight: 500;
    color: #2e2f42;
}
.link:hover,
.link:focus {
    color: #404bbf;
}
.link:active {
    color: #404bbf;
    text-decoration: underline;
}
.link-address {
    font-weight: 400;
    line-height: 1.5;
    color: #434455;
    font-style: normal;
}
.link-address:hover,
.link-address:focus {
    color: #404bbf;
}
.addres-info {
    display: flex;

}
.information {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px;
    margin-left: 332px;
}
/* .addres-info ul {
    display: flex;
    flex-wrap: nowrap;
    gap: 40px
} */
.banner {
    background: #2e2f42;
    display: flex;
    padding: 188px 0;
}
.banner .container {
    text-align: center;
}
.banner-title {
    font-family: "Roboto", sans-serif;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    color: #fff;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    max-width: 496px;
    margin: 0 auto;
}

.order-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    margin: 0 auto;

}
.order-button:hover,
.order-button:focus  {
background-color: #404bbf;
}
.advant-part {
    padding: 120px;
}
.advantages {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advant-list {
    display: flex;
    gap: 24px;
  }
.name-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    text-align: center;
}
.role {
    color: #434455;
    font-size: 16px;
    flex-basis: calc((100% - 24*3)/4);
}
.role-dev {
    color: #434455;
    font-size: 16px;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.team-title{
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.team-items {
    display: flex;
    gap: 24px;
}
.team-cards {
    background-color: #f4f4fd;
}
.team-info {
    background: #FFFFFF;
    border-radius: 0 0 4px 4px;
}
.info-developer{
    padding: 32px 0;
}
.item-card {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
  
}
.describe-title {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none; 
}
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    padding: 120px 0 120px 0;

}
.title-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
    margin-bottom: 8px;

}
.describe {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.cards-set {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.page-footer {
    background: #2e2f42;
    padding: 100px;
    display: flex;
    flex-direction: column;
    padding: 100px 0;
}

.logo-footer {
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}
.logo-style {
    color: #f4f4fd;
}
.text-footer {
    color: #f4f4fd;
    width: 264px;
}
